*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(back.jpg);
}
nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 3% 10% 3% 10%;
    position: sticky;
    top: 0;
}
nav .d1{
    flex: 1;
    color: white;
    font-size: 30px;
}
nav .d2{
    flex: 1;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    color: white;

}
.part1{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 20%;
}

.part1 .div11{
    flex: 1;
}
.part1 .div11 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.part1 .div12{
    padding-left: 1%;
    padding-right: 1%;            
    flex: 1;
   align-content: center;
   justify-content: center;
   background-color: white;
   
}
.part2 {
display: flex;
flex-direction: row;
margin-left: 15%;
margin-right: 15%;
width: 70%;
height: 20%;
}

.part2 .div21, .part2 .div22 { 
padding-left: 1%;
padding-right: 1%;
flex: 1;
align-content: center;
justify-content: center;
background-color: white;
}

.part2 .div21 img, .part2 .div22 img {
width: 100%;
height: 100%;
object-fit: cover;
}
.part3{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 20%;
}
.part3 .div31{
    flex: 1;
}
.part3 .div31 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.part3 .div32{
    padding-left: 1%;
    padding-right: 1%;
    flex: 1;
   align-content: center;
   justify-content: center;
   background-color: white;
   
}
.part4 {
display: flex;
flex-direction: row;
margin-left: 15%;
margin-right: 15%;
width: 70%;
height: 20%;
}

.part4 .div41, .part4 .div42 { 
padding-left: 1%;
padding-right: 1%;
flex: 1;
align-content: center;
justify-content: center;
background-color: white;
}

.part4 .div41 img, .part4 .div42 img {
width: 100%;
height: 100%;
object-fit: cover;
}
.part5{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 20%;
}

.part5 .div51{
    flex: 1;
}
.part5 .div51 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.part5 .div52{
    padding-left: 1%;
padding-right: 1%;
    flex: 1;
   align-content: center;
   justify-content: center;
   background-color: white;
   
}

@media (max-width: 768px) {


nav {
    flex-direction: row; 
    align-items: flex-start; 
    padding: 2% 5%; 
}

nav .d1 {
    font-size: 24px; 
    text-align: center; 
    margin-bottom: 10px; 
    background-color: rgb(18, 123, 97);
    text-shadow: 2px 2px rgb(6, 202, 150);
    
}

nav .d2 {
    flex-direction: row; 
    gap: 10px; 
    display: flex;
    flex-wrap: wrap;

}

nav .d2 div {
    cursor: pointer;
    font-size: 16px; 
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%; 
    text-align: center; 
    background-color: rgb(18, 123, 97);
    text-shadow: 2px 2px rgb(78, 112, 103);
}

nav .d2 div:hover {
    background-color: #555; 
    border-radius: 5px;
}


.part1, .part2, .part3, .part4, .part5 {
    flex-direction: column; 
    width: 100%; 
    margin-left: 0;
    margin-right: 0;
    height: auto; 
}

.part1 .div11 img, .part2 .div21 img, .part3 .div31 img, .part4 .div41 img, .part5 .div51 img {
    height: 250px; 
    object-fit: cover;
}

.part1 .div12, .part2 .div22, .part3 .div32, .part4 .div42, .part5 .div52 {
    text-align: center; 
    padding: 3%;
}

.btnparent button {
    width: 100%; 
    margin: 10px 0; 
}


form input {
    width: 100%; 
    margin-bottom: 10px;
    padding: 10px;
}

form input[type="submit"] {
    width: 100%; 
    padding: 10px;
}


h1 {
    font-size: 24px; 
    margin-bottom: 15px;
}

p {
    font-size: 16px; 
    line-height: 1.5;
}


ul {
    padding-left: 20px;
    list-style-type: disc;
}
}